*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

h1 {
    color: #fff;
}

h2 {
    color: #ccc;
}

h3 {
    color: #555;
}

p {
    color: bisque
}

a {
    text-decoration: none;
    color: #fff;
}
body{
    background-color: black;
}
.btn-1 {
    display: block;
    background-color: #2308bd;
    border: 2px solid #1c5c95;
    width: 230px;
    height: 56px;
    border-radius: 16px;
    text-align: center;
}

.btn-2 {
    display: block;
    background-color: #1c5c95;
    border: 2px solid #2308bd;
    width: 230px;
    height: 56px;
    border-radius: 16px;
    text-align: center;
}